@import "../_includes/variables.scss";

.navigation-bar {
  font-family: $font-family;
  background: #3C8DBC;
  width: 84%;
  height: 120px;
  display: block;
  float: right;
  padding: 0 50px;

  .navContainer {
    float: right;
    vertical-align: middle;

    .option {
      display: inline-block;
      padding: 45px 15px;

      a {
        color: #90AFC5;
        text-decoration: none;
        font-size: 20px;

        &:hover {
          color: white;
        }
      }
    }


    .imageContainer {
      width: 83%;
      display: inline-block;
    }
  }
}