@use '../_includes/variables.scss';
@import '../_includes/mixins.scss';


@font-face {
  font-family: FontAwesome;
  src: url('../../fonts/font.eot') format('eot'),
    url('../../fonts/font.woff') format('woff');
}

.wrapper-login {
  height: 100vh;

  .login-wallpaper {
    height: 100%;
    width: 100%;
    background-image: url('../../resources/images/background-login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    .wrapper-content {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      .formWrapper {
        width: 35%;
        margin: 0 auto;
        font-family: $font-family;
        background-color: #0860a5;
        border-radius: 10px;


        form {
          padding: 0 30px 30px;
        }

        .title-wrapper-1 {
          @include header-form();
          border-radius: 10px 0 0 0;

        }

        .title-wrapper-2 {
          @include header-form();
          border-radius: 0 10px 0 0;
        }

        .icon {
          display: inline-block;
          padding-right: 10px;
        }

        .active {
          background: #0860a5;
        }

        .input-wrapper {
          padding: 1.5em;
          display: block;
          margin: 0 auto;
          width: 100%;
          text-align: center;

          .input {
            width: 85%;
            display: block;
            margin: 0 auto;

            label {
              display: none;
            }

            input {
              @include input(100%);
              font-style: normal;
            }

            input::placeholder {
              padding: 10px;
              font-family: 'FontAwesome', $font-family;
              font-size: 16px;
            }

            .has-error {
              @include error;
            }
          }

          .error-wrapper {
            @include error-wrapper(100%);
          }
        }

        .smaller-input-wrapper {
          @extend .input-wrapper;
          padding: 0.5em;
        }

        .loginButton {
          background-color: #04346b;
          width: 40%;
          height: 70px;
          margin: 20px auto;
          display: block;
          border: none;
          color: #d2dde5;
          font-size: 22px;
          border-radius: 30px;
        }
      }
    }
  }
}